aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
annotated-types
anyio
asttokens
async-timeout
attrs
backcall
bcrypt
beautifulsoup4
bleach
blinker
build
CacheControl
cachetools
certifi
charset-normalizer
chromadb
cleo
click
colorama
contourpy
crawler
crashtest
cycler
decorator
defusedxml
distlib
distro
docopt
dotenv
dulwich
durationpy
edge-tts
exceptiongroup
executing
Faker
fastjsonschema
filelock
findpython
flatbuffers
fonttools
fpdf2
frozenlist
fsspec
gitdb
GitPython
googleapis-common-protos
googletrans
greenlet
grpcio
h11
h2
hf-xet
hpack
httpcore
httptools
httpx
huggingface_hub
hyperframe
idna
importlib_metadata
importlib_resources
installer
ipython
jaraco.classes
jaraco.context
jaraco.functools
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keyring
kiwisolver
kubernetes
langchain-chroma
langchain-core
langchain-huggingface
langchain-openai
langsmith
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
more-itertools
mpmath
msgpack
multidict
narwhals
nbclient
nbconvert
nbformat
networkx
numpy
oauthlib
ollama
onnxruntime
openai
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pandocfilters
parso
pbs-installer
pickleshare
pillow
pipreqs
pkginfo
platformdirs
plotly
prompt_toolkit
propcache
protobuf
pyarrow
pybase64
pydantic
pydantic-settings
pydantic_core
pydeck
pyenv-win
Pygments
pyparsing
PyPika
pyproject_hooks
python-dateutil
python-discovery
python-dotenv
pytz
pywin32-ctypes
pyzmq
PyYAML
qrcode
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
st-copy-to-clipboard
stack-data
streamlit
styles
sympy
tabulate
tavily
tavily-python
tenacity
threadpoolctl
tiktoken
tinycss2
toml
tomlkit
torch
torchvision
tornado
tqdm
traitlets
transformers
trove-classifiers
typer
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
uvicorn
virtualenv
watchdog
watchfiles
wcwidth
webencodings
websocket-client
websockets
xxhash
yarg
yarl
zipp
zstandard